extends ./layouts/layout 
block content
    button#getData get data
    #data hi
    input(type="date" id="date")
    input(type="datetime-local" id="hour")
    input(type="month", name="" id='month' value = "2021-11")