.box
    .volt
        .stator-volt
        .rotor-volt
        .circle-volt
            span.volt-value 0
            |V
    .amp
        .stator-amp
        .rotor-amp
        .circle-amp
            span.amp-value 0
            |A
    .power
        .stator-power
        .rotor-power
        .circle-power
            span.power-value 0
            |W